/* Color Palette:
#555b6e     //dark blue
#89b0ae     //dark green
#bee3db     //light green
#faf9f9     //off-white
#ffd6ba     //tan
*/

body {
    background-color: #FAF9F9;
    color: #555b6e;
}

.nav-item {
    margin-left: 15px;
}

#page1 {
    height: 110vh;
}

.hero-image {
    width: 101.68%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: -16px;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 35%;
    left: 12%;
    color: white;
    line-height: 4.5;
}

.hero-text h1{
    font-size: 54px;
}

.hero-text p{
    font-size: 22px;
}

#greeting {
    color: #555b6e;
    margin-top: 12vh;
    margin-left: 35vw;
    line-height: 1;
    font-size: 20px;
}

#greeting h3{
    margin-bottom: 3vh;
    font-size: 32px;
}

#page2 {
    background-color: #89b0ae;
    height: 90vh;
}

#about-me {
    color: #faf9f9;
    line-height: 1.75;
}

#about-me h3 {
    font-size: 34px;
    margin-bottom: 30px;
}

#about-me p {
    margin-bottom: 25px;
}

#page3 {
    background-color: #555b6e;
    height: 90vh;
}

#my-work  h2{
    color: #bee3db;
    font-weight: bolder;
    font-size: 42px;
    margin-bottom: -2vh;
}

#my-work a{
    color: #555b6e;
}

#my-work a:hover{
    opacity: 0.8;
}

.card {
    height: 15rem;
    margin: 15px;
}

.card img {
    height: 168px;
    width: 222px;
}

#page4 {
    background-color: #ffd6ba;
    height: 100vh;
    color: #555b6e;
}

#page4 h4{
    text-align: center;
    font-size: 36px;
    color: #555b6e;
    margin-bottom: 7vh;
    font-weight: bolder;
}

#contact-form {
    width: 55%;
}

#fs-frm-inputs {
    width: 30%;
}

#submit button{
    background-color: #555b6e;
}

#social {
    width: 55%;
    margin-top: 30px;
}

#social i{
    padding: 15px;
    font-size: 40px;
}

#social a{
    color: #373a46;
}

.page-footer {
    margin-top: 19.5vh;
}

.footer-copyright{
    background-color: #f3c7aa;
}

.page-footer a{
    color: #555b6e;
}